<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>team</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
      <display-name>BoardMemberFrontController</display-name>
      <servlet-name>BoardMemberFrontController</servlet-name>
      <servlet-class>com.ts.frontcontroller.BoardMemberFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>BoardMemberFrontController</servlet-name>
      <url-pattern>*.me</url-pattern>
  </servlet-mapping>
  <servlet>
      <display-name>BoardFrontController</display-name>
      <servlet-name>BoardFrontController</servlet-name>
      <servlet-class>com.ts.frontcontroller.BoardFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>BoardFrontController</servlet-name>
      <url-pattern>*.bo</url-pattern>
  </servlet-mapping>
  <error-page>
		<error-code>403</error-code>
		<location>/error.jsp</location>      
  </error-page>
  <error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>      
  </error-page>
  <error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>      
  </error-page>
  <error-page>
		<error-code>503</error-code>
		<location>/error.jsp</location>      
  </error-page>
</web-app>