<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ts.mybatis.MemberMapper">

<select id="WorkerList" resultType="WorkerVO">
	select * from worker
</select>

<select id="WorkerTimeList" resultType="WorkerTimeVO">
	select * from worketime
</select>
<insert id="WorkerInsert" parameterType="WorkerVO">
    insert into worker(worker_id,worker_name,worker_birth,worker_sung,worker_rank,worker_dpname,worker_yn) 
    values(#{worker_id},#{worker_name},#{worker_birth},#{worker_sung},#{worker_rank},#{worker_dpname},#{worker_yn})
</insert>
<delete id="WorkerDelete" parameterType="WorkerVO">
    delete from worker where worker_id=#{worker_id}
</delete>
<update id="WorkerUpdate">
	update worker set worker_name=#{worker_name} ,worker_birth=#{worker_birth} , worker_sung=#{worker_sung}, worker_rank=#{worker_rank},
	worker_dpname=#{worker_dpname} , worker_yn=#{worker_yn}
</update>
<select id="scheduleInfo" parameterType="ScheduleVO">
    select * from cal
</select>
<!-- <delete id="memberDelete" parameterType="Integer"> -->
<!--     delete from member where num=#{num} -->
<!-- </delete> -->

<!-- <select id="memberContent" parameterType="Integer" resultType="memberVO"> -->
<!--     select * from member where num=#{num} -->
<!-- </select> -->

<!-- <update id="memberUpdate" parameterType="memberVO"> -->
<!-- update member set age=#{age}, email=#{email},phone=#{phone} where num=#{num}     -->
<!-- </update> -->

<!-- 회원 관리 -->
	<insert id="joinMember" parameterType="BoardMemberDTO">
	    insert into member(member_id, member_pw, member_name, member_birth, member_gender, member_email) 
	    values(#{member_id}, #{member_pw}, #{member_name}, #{member_birth}, #{member_gender}, #{member_email})
	</insert>
	<select id="isMember" parameterType="String" resultType="String">
	    select member_pw from member where member_id=#{member_id}
	</select>
	<select id="getAllMember" resultType="BoardMemberDTO">
	    select * from member
	</select>
	<delete id="deleteMember" parameterType="String">
	    delete from member where member_id=#{member_id}
	</delete>
	<select id="getDetailMember" parameterType="String" resultType="BoardMemberDTO">
	    select * from member where member_id=#{member_id}
	</select>
	<select id="getMember_pw" parameterType="String" resultType="String">
	    select member_pw from member where member_id=#{member_id}
	</select>
	<update id="updateMember" parameterType="BoardMemberDTO">
	    update member set member_pw=#{member_pw}, member_name=#{member_name}, member_birth=#{member_birth}, member_gender=#{member_gender}, member_email=#{member_email}
	    where member_id=#{member_id}
	</update>
<!-- 일정관리 -->
	
	<!-- 질문 게시판 -->
	<insert id="boardInsert" parameterType="QaBoardDTO">
	    <selectKey keyProperty="qa_num" resultType="Integer" order="BEFORE">
	        select max(qa_num)+1 from qa
	    </selectKey>
	    insert into qa(qa_num, qa_id, qa_subject, qa_content, qa_file, qa_re_ref, qa_re_lev, qa_re_seq, qa_readcount, qa_date)
	    values (#{qa_num},#{qa_id},#{qa_subject},#{qa_content},#{qa_file},#{qa_num},#{qa_re_lev},#{qa_re_seq},#{qa_readcount},now())
	</insert>
	<select id="getListCount" resultType="Integer">
	    select count(*) from qa
	</select>
	<select id="getBoardList" parameterType="Integer" resultType="QaBoardDTO">
	    select * from qa order by qa_re_ref desc, qa_re_seq asc limit #{startRow}, 10
	</select>
	<select id="getDetail" parameterType="Integer" resultType="QaBoardDTO">
	    select * from qa where qa_num=#{qa_num}
	</select>
	<update id="readCount" parameterType="QaBoardDTO">
	    update qa set qa_readcount=#{qa_readcount}+1 where qa_num=#{qa_num}
	</update>
	<select id="isBoardWriter" parameterType="QaBoardDTO" resultType="QaBoardDTO">
	    select * from qa where qa_num=#{qa_num}
	</select>
	<delete id="boardDelete" parameterType="Integer">
	    delete from qa where qa_num=#{qa_num}
	</delete>
	<update id="boardUpdate" parameterType="QaBoardDTO">
	    update qa set qa_subject=#{qa_subject}, qa_content=#{qa_content} where qa_num=#{qa_num}
	</update>
</mapper>